---

#
# The host needs to be running Python 3 in order to run
# the Fenrir screen reader
#

- name: Test which version of Python is symlinked
  shell: python --version
  register: python_version

- name: Fail if not running Python 3
  fail:
    msg: "Fenrir needs Python 3"
  when:
    - python_version.stdout.find('Python 3') == -1

- name: Include the sound role
  include_role:
    name: sound


- name: Include the espeak role
  include_role:
    name: espeak


- name: Arch, install Fenrir dependencies
  pacman:
    name: dbus,enchant,python-pyenchant,python-evdev,python-dbus
    state: latest
    update_cache: yes
  when:
    - ansible_distribution == "Archlinux"

- name: Debian, install Fenrir dependencies
  apt:
    name: dbus,libdbus-glib-1-dev,python3-pip
    state: latest
    update_cache: yes
  when:
    - ansible_distribution == "Debian"


- name: Arch, install Fenrir screen reader from PyPI
  pip:
    name: fenrir-screenreader
    state: present
  when:
    - ansible_distribution == "Archlinux"



- name: Debian, install Fenrir with pip using git
  pip:
    name: git+https://github.com/chrys87/fenrir.git
  when:
    - ansible_distribution == "Debian"


- name: Replace /etc/fenrirscreenreader/settings/settings.conf with template
  template:
    src: settings.conf.j2
    dest: /etc/fenrirscreenreader/settings/settings.conf
    backup: yes
    owner: root
    group: root
    mode: 0644
  when:
    - ansible_distribution in ["Archlinux","Debian"]
  tags:
    - fenrir_conf


- name: Arch, copy fenrir.service.arch to /lib/systemd/system/fenrir.service
  copy:
    src: fenrir.service.arch
    dest: /lib/systemd/system/fenrir.service
    owner: root
    group: root
    mode: 0644
  when:
    - ansible_distribution == "Archlinux"

- name: Debian, copy fenrir.service.debian to /lib/systemd/system/fenrir.service
  copy:
    src: fenrir.service.debian
    dest: /lib/systemd/system/fenrir.service
    owner: root
    group: root
    mode: 0644
  when:
    - ansible_distribution == "Debian"

- name: Ensure fenrir is started and enabled at boot.
  systemd:
    name: fenrir
    state: started
    enabled: yes
  when:
    - ansible_distribution in ["Archlinux","Debian"]
    - enable_fenrir_at_boot|default(true)


- name: Restart fenrir and reload systemd daemon
  systemd:
    name: fenrir
    state: restarted
    daemon_reload: yes
  when:
    - ansible_distribution in ["Archlinux","Debian"]
    - start_fenrir_immediately|default(true)

