---

- name: Include the sound role
  include_role:
    name: sound

- name: Copy speakup.conf to /etc/modules-load.d
  copy:
    src: speakup.conf
    dest: /etc/modules-load.d
    owner: root
    group: root
    mode: 0644
  when:
    - ansible_distribution in ["Archlinux","Debian"]

- name: Include the devtools role
  include_role:
    name: devtools
  when:
    - ansible_distribution in ["Archlinux","Debian"]

- name: Include the espeak role
  include_role:
    name: espeak

- name: Clone espeakup
  git:
    repo: "{{ espeakup_git_repository }}"
    dest: /tmp/espeakup
  when:
    - ansible_distribution in ["Archlinux","Debian"]


- name: Patch the espeakup Makefile
  patch:
    src: espeakup.Makefile.patch
    remote_src: false
    dest: /tmp/espeakup/Makefile
  when:
    - ansible_distribution in ["Archlinux","Debian"]
    - use_espeak_new_generation|default(true)


- name: make targets
  make:
    chdir: /tmp/espeakup
    target: "{{ item }}"
  with_items:
    - all
    - install
  when:
    - ansible_distribution in ["Archlinux","Debian"]


- name: Copy the espeakup.service unit file
  copy:
    src: espeakup.service
    dest: /lib/systemd/system/espeakup.service
    owner: root
    group: root
    mode: 0644
  when:
    - ansible_distribution in ["Archlinux","Debian"]


- name: Copy the espeakup default template
  template:
    src: espeakup.default.j2
    dest: /etc/default/espeakup
    owner: root
    group: root
    mode: 0644
  when:
    - ansible_distribution in ["Archlinux","Debian"]


- name: Load the speakup kernel modules for this session
  modprobe:
    name: speakup_soft
    state: present


- name: Ensure espeakup is started and enabled at boot.
  systemd:
    name: espeakup
    state: started
    enabled: yes
  when:
    - ansible_distribution in ["Archlinux","Debian"]

- name: Restart espeakup and reload systemd daemon
  systemd:
    name: espeakup
    state: restarted
    daemon_reload: yes
  when:
    - ansible_distribution in ["Archlinux","Debian"]

