---

- name: Include the sound role
  include_role:
    name: sound

- name: Include the emacs role
  include_role:
    name: emacs

- name: Arch, install emacspeak espeak server dependencies tcl and tk
  pacman:
    name: tcl,tk
    state: latest
    update_cache: yes
  when:
    - ansible_distribution == "Archlinux"


- name: Arch, install emacspeak dependency tclx
  aur:
    name: tclx
    user: "{{ default_user }}"
    dir: /tmp
  when:
    - ansible_distribution == "Archlinux"


- name: Clone emacspeak
  git:
    repo: "{{ repo }}"
    dest: /usr/local/src/emacspeak
    depth: 1


- name: make config
  command: >
    make config
  args:
    chdir: /usr/local/src/emacspeak


- name: make emacspeak
  command: >
    make emacspeak
  args:
    chdir: /usr/local/src/emacspeak


- name: Compile the espeak server
  command: >
    make
  args:
    chdir: /usr/local/src/emacspeak/servers/native-espeak

##

- name: Insert emacspeak-setup.el load-file at top of emacs init file
  blockinfile:
    path: "/home/{{ default_user }}/.emacs.d/init.el"
    marker: ";; {mark} ANSIBLE MANAGED BLOCK"
    insertbefore: BOF
    content: |
      ;; Load emacspeak extensions
      (load-file "/usr/local/src/emacspeak/lisp/emacspeak-setup.el")
