---

- name: Include the sound role
  include_role:
    name: sound

- name: Include the emacs role
  include_role:
    name: emacs

- name: Arch, install emacspeak espeak server dependencies tcl and tk
  pacman:
    name: tcl,tk
    state: latest
    update_cache: yes
  when:
    - ansible_distribution == "Archlinux"


- name: Include the devtools role
  include_role:
    name: devtools
  when:
    - ansible_distribution == "Archlinux"


- name: Arch, install emacspeak dependency tclx from the AUR
  aur:
    name: tclx
    user: "{{ default_user }}"
    dir: /tmp
  when:
    - ansible_distribution == "Archlinux"


- name: Clone emacspeak
  git:
    repo: "{{ git_repository }}"
    version: "{{ emacspeak_git_commit }}"
    dest: /usr/local/src/emacspeak
  when:
    - ansible_distribution == "Archlinux"


- name: Arch, patch the espeak server Makefile
  patch:
    src: espeak-server-Makefile.patch
    remote_src: false
    dest: "/usr/local/src/emacspeak/{{ emacspeak_espeak_server_path }}/Makefile"
  when:
    - ansible_distribution == "Archlinux"
    - use_espeak_new_generation|default(false)


- name: make targets
  make:
    chdir: /usr/local/src/emacspeak
    target: "{{ item }}"
  with_items:
    - config
    - emacspeak
  when:
    - ansible_distribution == "Archlinux"


- name: make the emacspeak espeak server
  make:
    chdir: "/usr/local/src/emacspeak/{{ emacspeak_espeak_server_path }}"
  when:
    - ansible_distribution == "Archlinux"


- name: Insert emacspeak-setup.el load-file at top of emacs init file
  blockinfile:
    path: "/home/{{ default_user }}/.emacs.d/init.el"
    marker: ";; {mark} ANSIBLE MANAGED BLOCK"
    insertbefore: BOF
    content: |
      ;; Load emacspeak extensions
      (load-file "/usr/local/src/emacspeak/lisp/emacspeak-setup.el")
  when:
    - ansible_distribution == "Archlinux"


- name: Debian, install emacspeak
  apt:
    name: emacspeak,emacspeak-espeak-server
    state: latest
    update_cache: yes
  when:
    - ansible_distribution == "Debian"


