# To choose the default voice of the espeakup daemon, define VOICE here.
# See /usr/lib/*/espeak-data/voices/ for a list of possible voices.

VOICE={{ espeakup_voice|default('m1') }}

# To choose audio output on another sound card, uncomment this and set as
# appropriate (either a card number or a card name as seen in CARD= alsa
# output).
#
# export ALSA_CARD=0
