---

- name: Arch, install emacs-nox
  pacman:
    name: emacs-nox
    state: latest
    update_cache: yes
  when:
    - ansible_distribution == "Archlinux"


- name: Debian, install emacs-nox and emacs-goodies-el
  apt:
    name: emacs-nox,emacs-goodies-el
    state: latest
    update_cache: yes
  when:
    - ansible_distribution == "Debian"




- name: Copy .emacs.d/* to user directory
  copy:
    src: emacs.d/
    dest: "/home/{{ default_user }}/.emacs.d"
    owner: "{{ default_user }}"
    group: "{{ default_group }}"
    mode: 0644


- name: Copy .emacs.d/* to /etc/skel
  copy:
    src: emacs.d/
    dest: /etc/skel/.emacs.d
    owner: root
    group: root
    mode: 0644

